.main-content {

  img {
    box-shadow: 5px 5px 0 0 rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
    display: block;
  }

  .red-dot {
    display: inline-block;
    background-color: red;
    color: white;
    font-size: 0.8em;
    border-radius: 0.8em;
    text-align: center;
    width: 1.6em;
  }

  .logo {
    border: none;
    box-shadow: none;
    max-height:50vh;
    width: 100%;
  }
}
